In [4]:
import pandas as pd
from src.read_deaths import read_deaths

deaths_df = read_deaths()
deaths_df

      sex  year   age  deaths
8262    E  1962   DEC  541147
8263    E  1962    D0   17644
8264    E  1962    D1    4901
8265    E  1962    D2    1236
8266    E  1962    D3     687
...    ..   ...   ...     ...
26311   H  2020   D96    4389
26312   H  2020   D97    3296
26313   H  2020   D98    2398
26314   H  2020   D99    1767
26315   H  2020  D100    2334

[18054 rows x 4 columns]